<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att sammanställa och skapa studieinspirerande material, främst i form av intervjuer. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-light text-center">
                    <h2 class="section-heading"><i>"De viktigaste egenskaperna som läkarstudent är enligt mig prestigelöshet och nyfikenhet, så släpp prestationskraven och fokusera på att njuta av pluggtiden, det kommer att gå bra!"</i></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Anton Sendel</h2>
                    <hr class="my-4">
                    <p class="text mb-4 custom-p">Legitimerad läkare & doktorand, Karolinska institutet</p>
                    <p class="text mb-4 custom-p">Läkarprogrammet</p>
                    <p class="text mb-4 custom-p2">Karolinska institutet</p>
                    <p class="text mb-4 custom-p">Bor i: Stockholm</p>
                    <p class="text mb-4">Kommer från: Stockholm</p>

                    <img src="static/img/interviews/anton_sendel.jpg" class="img-fluid" />
                </div>
            </div>

            <hr class="light">
            <hr>
            <hr class="light">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h6><b>Vad handlar din forskning om och hur skulle du beskriva din roll som doktorand? Vad har du för arbetsuppgifter?</b></h6>
                    <p class="text">Min forskning handlar om medfödd immunbrist, sällsynta sjukdomar i immunförsvaret som gör att man till exempel får svåra infektioner av bakterier och virus man normalt inte brukar bli sjuk av. I de svåraste fallen krävs att man byter ut hela immunförsvaret genom en så kallad stamcellstransplantation. I mitt projekt jobbar jag mestadels i ett labb och undersöker celler från patienter med immunbrist för att förstå varför sjukdomarna ser ut som de gör. Jag undersöker bland annat hur cellerna utvecklas, rör på sig, och vilka proteiner de producerar.</p>
                    <p class="text">Som doktorand är jag del av en forskargrupp som drivs av min handledare. Jag är anställd och får lön, och definitionsmässigt genomgår jag en fyraårig forskarutbildning med målet att bli självständig som forskare. Inom vissa delprojekt jobbar jag helt själv medan jag inom andra delprojekt jobbar tillsammans med kollegor i vår grupp eller från andra forskargrupper vi samarbetar med. Utöver att driva mitt forskningsprojekt läser jag ett antal kurser och åker på konferenser. Jag har även gjort ett utbyte i London där jag forskade i 3 månader.</p>

                    <h6><b>Hur ser en typisk arbetsdag ut för dig?</b></h6>
                    <p class="text">Mina arbetsdagar ser olika ut beroende på var i projektet jag befinner mig. Vissa perioder fokuserar jag på att göra så många experiment som möjligt medan jag i andra perioder kanske behöver lägga mer tid på att skriva ihop mina resultat till en vetenskaplig artikel. </p>
                    <p class="text">En typisk arbetsdag kan börja med att jag gör ett experiment jag planerat dagen innan, och efter det analyserar och sammanställer jag resultaten. Därefter jämför jag resultaten med vad jag eller andra forskare kommit fram till tidigare och bedömer om experimentet kan svara på min vetenskapliga frågeställning. Oftast väcks det nya frågor efter varje experiment och då får man planera hur man ska kunna undersöka dessa vidare.</p>

                    <h6><b>Tycker du om ditt jobb?</b></h6>
                    <p class="text">Ja det gör jag! Jag tycker både om mitt jobb som läkare och att forska som doktorand. Det bästa med att vara läkare är att man får träffa och hjälpa människor i många olika livssituationer och jag drivs där av att göra livet bättre för varje enskild person jag möter. Som doktorand drivs jag av nyfikenhet: att lära mig nya saker och förstå komplexa sammanhang. Den sociala aspekten av båda yrkena betyder särskilt mycket för mig; som läkare är det kanske uppenbart att man interagerar med andra människor dagligen, men också forskarvärlden går i stor del ut på att träffas, diskutera och utbyta erfarenheter och det finns ett stort värde i att knyta kontakter både nationellt och internationellt för att komma framåt i sin forskning.</p>

                    <h6><b>Vad tror du att du gör om fem år?</b></h6>
                    <p class="text">Då är jag förhoppningsvis snart färdig specialistläkare inom immunologi och forskar samtidigt på nya behandlingsmetoder för immunbristsjukdomar. Jag är särskilt intresserad av att jobba med den behandlingsmetod som kallas genterapi, det vill säga att man ändrar i arvsmassan genom att reparera eller byta ut sjukdomsframkallande gener till friska gener. Redan i dagsläget kan man göra en hel del med genterapi inom flera medicinska områden, men det kommer sannolikt att revolutionera hela sjukvården framöver.</p>

                    <h6><b>Var det ett självklart val för dig att läsa vidare efter gymnasiet?</b></h6>
                    <p class="text">Jag har inget tydligt minne av att det var en självklarhet, men jag har nog alltid känt att det skulle vara kul. Ingen av mina föräldrar är akademiker och inte heller mina mor- och farföräldrar; jag har aldrig känt någon press hemifrån att jag måste läsa vidare.</p>
                    <p class="text">Efter studenten jobbade jag ett halvår och hade lösa planer på att resa någonstans för pengarna, men kände att det var mer spännande att hoppa på läkarprogrammet. Mina främsta mål efter studenten var att utvecklas på ett personligt plan och träffa nya människor, och det har jag i högsta grad kunnat göra under läkarstudierna. Dessutom har jag kunnat resa längre perioder ändå genom utbyten både som läkarstudent (i Grenoble, Frankrike) och som doktorand (London, Storbritannien), vilket har varit fantastiskt kul!</p>

                    <h6><b>Varför valde du att läsa just läkarprogrammet på just Karolinska?</b></h6>
                    <p class="text">Jag hade aldrig en särskilt tydlig plan innan jag började – jag hade lösa tankar kring både läkarprogrammet på Karolinska och civilekonomprogrammet på Handelshögskolan i Stockholm. Även juridik kändes lockande, men där hade jag inte riktigt konkretiserat var jag skulle vilja läsa det i så fall. Jag funderade nog egentligen aldrig på att flytta någon annanstans än Stockholm, mest på grund av att jag trivdes bra här där jag är född och uppvuxen. I slutändan blev det så att jag sökte till Karolinska, mest för att se om jag kom in, och när jag blev antagen tänkte jag att det var värt att prova – vilket det ju uppenbarligen var!</p>

                    <h6><b>Vad var det bästa med att plugga på Karolinska och i Stockholm?</b></h6>
                    <p class="text">Det bästa med Karolinska har varit dess höga akademiska nivå och goda internationella kontakter vilket gör att det finns massor av spännande utbyten runt hela världen – att komma från Karolinska öppnar många dörrar. Stockholm är fantastiskt då det är en så vacker stad och allt händer här.</p>

                    <h6><b>Ifall du tog studenten i dag och kunde göra om hela din högskoleutbildning, hade du gjort någonting annorlunda?</b></h6>
                    <p class="text">Nej, jag är väldigt nöjd med hur allt blev! Jag har försökt hitta en bra balans mellan plugg och fritid, har engagerat mig ”lagom mycket” i studentaktiviteter (i mitt fall fadderverksamhet och anatomiundervisning för yngre terminer – väldigt kul att lära känna folk från både yngre och äldre terminer). Jag tycker även att Karolinskas läkarprogram har varit välbalanserat mellan teori och praktik.</p>

                    <h6><b>Vad var det som lockade med att börja doktorera och hur fick du din doktorandtjänst? Var det en stor omställning jämfört med att vara student på läkarprogrammet?</b></h6>
                    <p class="text">Vi gjorde vårt examensarbete termin 7 av 11, alltså nästan i mitten av programmet, och jag började då med ett projekt i den forskargrupp jag nu är doktorand i. Ett drygt år senare ansökte jag om finansiering genom ett så kallat MD-PhD-program som på ett smidigt sätt möjliggjorde att börja forska parallellt med läkarprogrammet. Det som inspirerade och lockade mest var möjligheten att få grotta ner mig ordentligt i något och befinna mig i en arbetsmiljö som går ut på att lära sig nya saker varje dag.</p>
                    <p class="text">Beroende på vilken typ av doktorandprojekt man har är det olika stor omställning från att vara läkarstudent – för mig som bedriver större delen av forskningen i labbet har jag behövt lära mig många experimentella metoder som jag inte kommit i kontakt med under läkarprogrammet. I övrigt har jag känt att det har varit smidigt att gå från läkarstudent till doktorand.</p>

                    <h6><b>Jag tror att många skulle beskriva dig som en framgångsrik person, hur stor del av denna framgång tror du beror på talang respektive på hårt arbete?</b></h6>
                    <p class="text">Till stor del hjälper det såklart att ha lätt för sig att lära, men jag skulle säga att målmedvetenhet är väldigt viktigt för att nå framgång i det man vill göra, oavsett hur man väljer att definiera framgång.</p>
                    <p class="text">Under tonåren var min främsta drivkraft min nyfikenhet, jag har alltid tyckt att det varit kul att lära mig mer om allt möjligt och det var den drivkraften som fick mig att välja ett gymnasium med hög ambitionsnivå och att sikta mot utmanande högskoleutbildningar. På senare tid har jag i tydligare mån börjat tänka i 1-, 5- och 10-årsplaner på hur jag ska uppnå mina drömmar och mål, och det upplever jag har hjälpt otroligt mycket. Jag brukar måla upp 2-3 olika scenarion för dessa tidsperioder och tänka igenom vad jag kan göra eller förbereda redan nu för att möjliggöra att de uppfylls – jag ser det som att plantera frön som jag i framtiden kan välja att använda mig av eller inte.</p>
                    <p class="text">Utöver detta är något som jag upplevt som centralt i min karriär hittills att berätta för folk omkring mig vad jag är intresserad av – kontaktskapande är otroligt viktigt inom alla områden, och om folk vet vad du drömmer om att göra kommer de att komma ihåg dig när det kommer upp sådana tillfällen och möjligheter. Så våga vara öppen med vad du vill!</p>

                    <h6><b>Vad skulle du vilja säga till dem som är intresserade av att följa i dina fotspår, men samtidigt kanske är osäkra på ifall de klarar av att läsa till läkare?</b></h6>
                    <p class="text">Det som kan kännas tufft i början av en krävande högskoleutbildning är att man ofta jämför sig med <u>alla</u> samtidigt på programmet och inte med enskilda kursare – man plockar ut det bästa från var och en och tycker att man själv inte alls kan allt det där. Men alla har olika förkunskaper och egenskaper och meningen är ju att man ska lära sig och utvecklas under tidens gång, så känn ingen press på att kunna precis allt eller att vara bäst i klassen. De viktigaste egenskaperna som läkarstudent/läkare är enligt mig prestigelöshet och nyfikenhet, så släpp prestationskraven och fokusera på att njuta av pluggtiden, det kommer att gå bra!</p>

                    <h6><b>Vad hade du velat ge för råd till dig själv som tonåring?</b></h6>
                    <p class="text">Våga prova fler nya saker! Det är okej att inte lyckas med allt!</p>

                    <p><i>Skapad 2018-08-20.</i></p>

                    </br>
                    </br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <a class="btn btn-primary btn-xl" href="/intervjuer">Fler intervjuer</a>
                 </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Kontakta oss!</h2>
                  <hr class="my-4">
                  <p class="mb-5 text-justify">Har du tips på en inspirerande person vi borde intervjua? Eller har du förslag på intressanta intervjufrågor? Kontakta oss gärna via mail eller sociala medier.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <ul class="list-inline">
                      <li class="list-inline-item">
                          <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                      </li>

                      <!-- <li class="list-inline-item">
                          <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                      </li> -->

                      <li class="list-inline-item">
                          <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>

   <footer class="bg-primary text-white">
       <div class="container">
           <div class="row">
              </br>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
