<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att sammanställa och skapa studieinspirerande material, främst i form av intervjuer. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-light text-center">
                    <h2 class="section-heading"><i>"Variationen av arbetsuppgifter och att man aldrig vet vad som kommer hända härnäst tilltalar mig mycket, en dag är aldrig den andra lik."</i></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Anton Borgström</h2>
                    <hr class="my-4">
                    <p class="text mb-4 custom-p">ST-läkare inom anestesi- och intensivvård, Universitetssjukhuset i Linköping</p>
                    <p class="text mb-4 custom-p">Läkarprogrammet</p>
                    <p class="text mb-4 custom-p2">Karolinska institutet</p>
                    <p class="text mb-4 custom-p">Bor i: Linköping</p>
                    <p class="text mb-4">Kommer från: Stockholm</p>

                    <img src="static/img/interviews/anton_borgstrom.jpg" class="img-fluid" />
                </div>
            </div>

            <hr class="light">
            <hr>
            <hr class="light">

            <div class="row">
                <div class="col-lg-8 mx-auto text-justify">
                    <h6><b>Vad är egentligen en ST-läkare och vad har du för arbetsuppgifter?</b></h6>
                    <p class="text">ST står för specialisttjänstgöring, vilket är en utbildningstjänst på 5 år för att i mitt fall bli specialist inom just anestesi- och intensivvård. I dagligt tal brukar man kallas narkosläkare.</p>
                    <p class="text">I arbetet ingår till stor del arbete på operationsavdelningen och där se till att alla patienter kan genomgå en operation utan att känna smärta eller obehag, samt att stötta patientens basala funktioner såsom andning och blodcirkulation. Eftersom många patienter är svårt sjuka ingår det också att förbereda patienten inför operation och se till att förhållandena för kirurgen som ska operera är så bra som möjligt. I dag finns många olika bedövningstekniker såsom nervblockader (man bedövar nerver), ryggbedövning, lokalbedövning m.m. och alla patienter behöver därmed inte sövas, även om detta är den vanligaste metoden just för patienter som ska opereras.</p>
                    <p class="text">Narkosläkare ansvarar också för intensivvården, där de allra sjukaste patienterna på ett sjukhus hamnar (stora trauma, svåra blodförgiftningar, efter hjärtstopp m.m.). På denna avdelning diagnosticerar, behandlar och övervakar man kroppens viktigaste funktioner tills patienten är så pass stabil att den kan gå tillbaka till sin vanliga vårdavdelning. Arbetet som narkosläkare innebär även att man ofta gör punktinsatser på flera av sjukhusets kliniker, allt från att hjälpa till på akutmottagningen när svårt sjuka patienter kommer in till att tillgodose bedövningar till födande kvinnor.</p>
                    <p class="text">Som ST-läkare är tanken att jag ska vara runt bland de olika sektionerna där vi jobbar för att lära mig allt inom specialiteten, allt under handledning av en färdig specialistläkare. Eftersom det är en utbildningstjänst ingår även regelbunden undervisning, teoretiska kurser och arbete på andra kliniker för att inhämta praktisk kunskap från andra specialiteter.</p>

                    <h6><b>Hur ser en typisk arbetsdag ut för dig?</b></h6>
                    <p class="text">Vi börjar alltid dagen med ett morgonmöte för att dels få rapport från de kollegor som jobbat jour på natten, men också för att planera dagens arbete. Om jag är placerad på operation går jag sedan och gör en snabb bedömning av dagens första patienter som ska opereras. Normalt sett har man 2-3 operationssalar som man ansvarar för tillsammans med en narkossjuksköterska per sal. Beroende på patient och operation så sövs patienterna, ges ryggbedövning eller andra bedövningar. </p>
                    <p class="text">Under dagen fortsätter sedan arbetet med att åtgärda eventuella komplikationer som kan uppstå hos patienter under operation (t.ex. blödning), söva eller bedöva kommande patienter, att bedöma patienter som ska opereras akut, ansvara för patienterna på uppvakningsavdelningen m.m. Arbetet avslutas med att rapportera över till den/de läkare som ska jobba jour. Som narkosläkare arbetar man även en del jour, d.v.s. kvälls-, natt- och helgtid då det stundtals kan vara mycket att göra, men också roligt.</p>

                    <h6><b>Vad är det bästa med ditt jobb?</b></h6>
                    <p class="text">Det bästa med arbetet som narkosläkare är variationen av arbetsuppgifter och att det är många praktiska moment. Men också att det är mycket socialt. En vanlig uppfattning är att man som narkosläkare bara söver patienter och inte har någon patientkontakt, vilket är helt fel. Även om det är korta patientmöten så gäller det att snabbt få en uppfattning om vilken typ av patient det är, men också att skapa ett förtroende och lugn hos patienten då de överlämnar kroppens vitala funktioner i våra händer om de exempelvis sövs ner. Arbetet innebär också att man arbetar mycket i team med både läkarkollegor och andra yrkeskategorier såsom sjuksköterskor och undersköterskor, vilket är väldigt roligt.</p>
                    <p class="text">Variationen av arbetsuppgifter och att man aldrig vet vad som kommer hända härnäst tilltalar mig mycket, en dag är aldrig den andra lik. Ofta är det många saker som händer samtidigt och det gäller att kunna ha många bollar i luften, speciellt jourtid då väldigt mycket kan ske samtidigt. Man behöver kunna arbeta under stor press och det kan när som helst uppstå en mycket akut situation där omedelbara åtgärder behöver sättas in för att rädda liv. </p>

                    <h6><b>Var det ett självklart val för dig att läsa vidare efter gymnasiet?</b></h6>
                    <p class="text">Jag kommer från en familj där utbildning är viktigt, men också att man ska göra det man trivs med oavsett om man blir något som kräver högskoleutbildning eller ej. Eftersom jag gillade att studera kändes det dock självklart att jag skulle läsa vidare. När jag var klar med gymnasiet visste jag inte vad jag ville plugga, så jag tog några sabbatsår innan jag började läkarutbildningen. Under denna tid testade jag alla möjliga olika jobb, gjorde en skidsäsong i alperna, cyklade genom Sverige och pluggade biologi. Att ta en paus från studierna är något jag inte ångrar en sekund och skulle rekommendera alla som har möjlighet att göra detta.</p>

                    <h6><b>Varför valde du att läsa just läkarprogrammet på just Karolinska?</b></h6>
                    <p class="text">Ingen i min familj är läkare och det var inte direkt ett yrkesval som jag hade tänkt på heller. När jag ville börja studera på högskola började jag läsa en grundkurs i biologi för att detta var ett ämne jag gillade i skolan. Under denna tid kom jag dock på att det var just läkare jag ville bli. Till stor del för att jag alltid varit fascinerad av hur kroppen fungerar, men också för att jag kände att detta var ett yrke som skulle passa just mig. </p>
                    <p class="text">Att jag valde att stanna kvar i Stockholm och studera på Karolinska var för att jag trivdes väldigt bra i Stockholm där jag hade många vänner och min familj. Det är också en väldigt bra utbildning och Karolinska är ett universitet i framkant med mycket forskning och är känt över hela världen. </p>

                    <h6><b>Vad var det bästa med att plugga på Karolinska och i Stockholm?</b></h6>
                    <p class="text">Det bästa var den sociala biten under studietiden. Under läkarutbildningen är man till skillnad från många andra utbildningar ofta på skolan eller sjukhusen hela dagarna, stor del av undervisningen sker gemensamt och under senare halvan av utbildningen har man kliniska placeringar varje dag. Detta gör att man umgås väldigt mycket med sina kursare, något som gör att man kommer väldigt nära varandra och många av mina närmaste vänner i dag är just från studietiden.</p>
                    <p class="text">Ofta får man höra att det inte finns något studentliv i Stockholm, vilket helt enkelt inte är sant. Det fanns mängder av aktiviteter och saker att göra på universitetet och genom kåren. Att dessutom ha närheten till allt vad en storstad kan erbjuda passade mig perfekt.</p>

                    <h6><b>Ifall du tog studenten i dag och kunde göra om hela din högskoleutbildning, hade du gjort någonting annorlunda?</b></h6>
                    <p class="text">Jag tror faktiskt inte att jag hade ändrat på någonting, jag är väldigt nöjd med min studietid och väldigt glad över det otroligt stora kontaktnät man byggt upp under tiden.</p>

                    <h6><b>Vilket var ditt första jobb efter examen och hur fick du det? Var det en stor omställning att ta steget ut i arbetslivet?</b></h6>
                    <p class="text">Som läkarstudent får man efter termin 9 (av totalt 11 terminer) börja arbeta som underläkare, vilket jag gjorde en sommar på kirurgkliniken i Karlskrona.</p>
                    <p class="text">Läkarutbildningen i Sverige innehåller många kliniska placeringar på olika delar av sjukhus och vårdcentraler där man följer en färdigutbildad läkare och får lära sig både teori, praktiskt arbete och hur man jobbar som läkare. Detta gjorde att steget att börja arbeta inte var särskilt stort, bortsett från att man helt plötsligt fick ta egna beslut och hade ett större ansvar än som student. Dock hade man givetvis en handledare att fråga och få hjälp av i alla beslut.</p>
                    <p class="text">Jag valde att läsa en del av en termin nere i Karlskrona och fick där vara på kirurgkliniken, vilket jag trivdes med och därför valde att söka jobb hos dem. Många studenter får sina första jobb just genom att man tidigare varit kliniskt placerade på arbetsplatsen. Mitt första jobb efter examen var som underläkare på anestesi- och intensivvårdskliniken på Danderyds sjukhus i Stockholm, också en klinik där jag var placerad under utbildningen och trivdes väldigt bra.</p>

                    <h6><b>Jag tror att många skulle beskriva dig som en framgångsrik person, hur stor del av denna framgång tror du beror på talang respektive på hårt arbete?</b></h6>
                    <p class="text">Det viktigaste för att bli framgångsrik inom mitt yrke tror jag främst är målmedvetenhet och mycket studerande. Det är en stor mängd information som ska nötas in och det gäller att kunna sitta timme ut och timme in för att exempelvis lära sig de latinska namnen på kroppens fler än 200 ben. </p>

                    <h6><b>Vad skulle du vilja säga till dem som är intresserade av att följa i dina fotspår, men samtidigt kanske är osäkra på ifall de klarar av att läsa till läkare?</b></h6>
                    <p class="text">Testa! Känner man att det inte är rätt utbildning eller att det är för svårt går det alltid att hoppa av och testa något annat.</p>

                    <h6><b>Vad hade du velat ge för råd till dig själv som tonåring?</b></h6>
                    <p class="text">Våga testa och var inte rädd att misslyckas! Om du har möjlighet och intresse, testa att jobba och resa ett tag innan du påbörjar högskolestudierna, det är både en bra erfarenhet, roligt och ger tid att fundera kring vad man vill göra.</p>

                    <p><i>Skapad 2018-08-18.</i></p>

                    </br>
                    </br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <a class="btn btn-primary btn-xl" href="/intervjuer">Fler intervjuer</a>
                 </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Kontakta oss!</h2>
                  <hr class="my-4">
                  <p class="mb-5 text-justify">Har du tips på en inspirerande person vi borde intervjua? Eller har du förslag på intressanta intervjufrågor? Kontakta oss gärna via mail eller sociala medier.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <ul class="list-inline">
                      <li class="list-inline-item">
                          <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                      </li>

                      <!-- <li class="list-inline-item">
                          <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                      </li> -->

                      <li class="list-inline-item">
                          <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>

   <footer class="bg-primary text-white">
       <div class="container">
           <div class="row">
              </br>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
