<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att skapa och sammanställa studieinspirerande material i form av intervjer och bloggar. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-light text-center">
            <h2 class="section-heading">Bloggar</h2>
            <hr class="my-4 light">
            <p class="text mb-4">Här finner du 6 bloggar skrivna av olika personer som studerar eller har studerat till bl.a. jurist, läkare, ingenjör och ekonom. Du kan välja att specifiera både utbildning och skola för att enkelt hitta det just du är mest intresserad av.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark">
        <div class="container">

           <div class="row">
               <div class="col-lg-8 mx-auto text-center">
                   <button class="btn btn-primary btn-xl filter-button" data-filter="all">Visa alla bloggar</button>
               </div>
           </div>

          </br>

          <form>
              <div class="form-row">
                  <div class="form-group col-md-8 mx-auto text-center">
                      <select class="selectpicker form-control" data-style="btn-info" data-live-search="true" id="select_utbildning" onchange="select_utbildning_function()">
                          <option value="no_choice">Alla utbildningar</option>
                          <option value="ingenjor">Ingenjör</option>
                          <option value="lakare">Läkare</option>
                          <option value="jurist">Jurist</option>
                          <option value="ekonom">Ekonom</option>
                          <option value="pykolog">Psykolog</option>
                          <option value="civilingenjor">Civilingenjör</option>
                          <option value="hogskoleingenjor">Högskoleingenjör</option>
                          <option value="informationsteknik">Informationsteknik</option>
                          <option value="medieteknik">Medieteknik</option>
                          <option value="datateknik">Datateknik</option>
                          <option value="industriell-ekonomi">Industriell ekonomi</option>
                          <option value="industriell-teknik-och-hallbarhet">Industriell teknik och hållbarhet</option>
                          <option value="kemiteknik">Kemiteknik</option>
                          <option value="no_choice">Void9</option>
                          <option value="no_choice">Void10</option>
                          <option value="no_choice">Void11</option>
                          <option value="no_choice">Void12</option>
                          <option value="no_choice">Void13</option>
                      </select>
                  </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-2">
                  </div>

                  <div class="form-group col-md-4">
                      <select class="selectpicker form-control" data-style="btn-info" data-live-search="true" id="select_skola" onchange="select_skola_function()">
                          <option value="no_choice">Alla skolor</option>
                          <option value="stockholms-universitet">Stockholms universitet</option>
                          <option value="lund">Lunds universitet</option>
                          <option value="uppsala">Uppsala universitet</option>
                          <option value="linkoping">Linköpings universitet</option>
                          <option value="goteborg">Göteborgs universitet</option>
                          <option value="kth">KTH (Kungliga Tekniska högskolan)</option>
                          <option value="chalmers">Chalmers tekniska högskola</option>
                          <option value="karolinska">Karolinska institutet</option>
                          <option value="no_choice">Void2</option>
                          <option value="no_choice">Void3</option>
                          <option value="no_choice">Void4</option>
                      </select>
                  </div>

                  <div class="form-group col-md-4">
                      <select class="selectpicker form-control" data-style="btn-info" data-live-search="true" id="select_stad" onchange="select_stad_function()">
                          <option value="no_choice">Alla städer</option>
                          <option value="stockholm">Stockholm</option>
                          <option value="goteborg">Göteborg</option>
                          <option value="lund">Lund</option>
                          <option value="linkoping">Linköping</option>
                          <option value="uppsala">Uppsala</option>
                          <option value="no_choice">Void2</option>
                          <option value="no_choice">Void3</option>
                          <option value="no_choice">Void4</option>
                      </select>
                  </div>

                  <div class="form-group col-md-2">
                  </div>
              </div>

              <div class="form-row">
                  <div class="form-group col-md-8 mx-auto text-center">
                      <select class="selectpicker form-control" data-style="btn-info" data-live-search="true" id="select_person" onchange="select_person_function()">
                          <option value="no_choice">Sök efter person</option>
                          <option value="madeleine-berner">Madeleine Berner</option>
                          <option value="oscar-wiigh">Oscar Wiigh</option>
                          <option value="ramtin-javanmardi">Ramtin Javanmardi</option>
                          <option value="malin-soderberg">Malin Söderberg</option>
                          <option value="sofia-sjoberg">Sofia Sjöberg</option>
                          <option value="elma-josic">Elma Josic</option>
                          <option value="no_choice">Void3</option>
                          <option value="no_choice">Void4</option>
                          <option value="no_choice">Void5</option>
                          <option value="no_choice">Void6</option>
                          <option value="no_choice">Void7</option>
                          <option value="no_choice">Void8</option>
                          <option value="no_choice">Void9</option>
                          <option value="no_choice">Void10</option>
                          <option value="no_choice">Void11</option>
                          <option value="no_choice">Void12</option>
                          <option value="no_choice">Void13</option>
                      </select>
                  </div>
              </div>
          </form>

          </br>
          </div>

          <div class="container-fluid no-gutters">

           <div class="row no-gutters">

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor madeleine-berner civilingenjor informationsteknik kth stockholm">
                   <a class="portfolio-box" href="https://www.kth.se/blogs/madeleine/">
                      <img class="grayscale" src="static/img/background_img_bright_square_small.png" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Madeleine Berner</div>
                               <div class="project-category">Student</div>

                               <div class="project-category">Civilingenjör Informationsteknik</div>
                               <div class="project-category">KTH</div>

                               </br>
                               <div class="project-category">kth.se</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter oscar-wiigh ingenjor civilingenjor medieteknik kth stockholm">
                   <a class="portfolio-box" href="https://www.kth.se/blogs/oscar/">
                      <img class="grayscale" src="static/img/background_img_bright_square_small.png" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Oscar Wiigh</div>
                               <div class="project-category">Student</div>

                               <div class="project-category">Civilingenjör Medieteknik</div>
                               <div class="project-category">KTH</div>

                               </br>
                               <div class="project-category">kth.se</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ramtin-javanmardi ingenjor civilingenjor datateknik kth stockholm">
                   <a class="portfolio-box" href="https://www.kth.se/blogs/ramtin/">
                      <img class="grayscale" src="static/img/background_img_bright_square_small.png" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Ramtin Javanmardi</div>
                               <div class="project-category">Student</div>

                               <div class="project-category">Civilingenjör Datateknik</div>
                               <div class="project-category">KTH</div>

                               </br>
                               <div class="project-category">kth.se</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter malin-soderberg ingenjor civilingenjor industriell-ekonomi kth stockholm">
                   <a class="portfolio-box" href="https://www.kth.se/blogs/malin/">
                      <img class="grayscale" src="static/img/background_img_bright_square_small.png" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Malin Söderberg</div>
                               <div class="project-category">Student</div>

                               <div class="project-category">Civilingenjör Industriell ekonomi</div>
                               <div class="project-category">KTH</div>

                               </br>
                               <div class="project-category">kth.se</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter sofia-sjoberg ingenjor civilingenjor industriell-teknik-och-hallbarhet kth stockholm">
                   <a class="portfolio-box" href="https://www.kth.se/blogs/sosjo/">
                      <img class="grayscale" src="static/img/background_img_bright_square_small.png" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Sofia Sjöberg</div>
                               <div class="project-category">Student</div>

                               <div class="project-category">Civilingenjör Industriell teknik och hållbarhet</div>
                               <div class="project-category">KTH</div>

                               </br>
                               <div class="project-category">kth.se</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter elma-josic ingenjor hogskoleingenjor kemiteknik kth stockholm">
                   <a class="portfolio-box" href="https://www.kth.se/blogs/elmaj/">
                      <img class="grayscale" src="static/img/background_img_bright_square_small.png" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Elma Josic</div>
                               <div class="project-category">Student</div>

                               <div class="project-category">Högskoleingenjör Kemiteknik</div>
                               <div class="project-category">KTH</div>

                               </br>
                               <div class="project-category">kth.se</div>
                           </div>
                       </div>
                   </a>
               </div>

           </div>
       </div>
   </section>

   <section class="bg-light">
       <div class="container">

         <div class="row">
             <div class="col-lg-8 mx-auto text-center">
                 <h2 class="section-heading">Kontakta oss!</h2>
                 <hr class="my-4">
                 <p class="mb-5">Har du tips på intressanta bloggar vi borde länka till? Kontakta oss gärna via mail eller sociala medier.</p>
             </div>
         </div>

         <div class="row">
             <div class="col-lg-8 mx-auto text-center">
                 <ul class="list-inline">
                     <li class="list-inline-item">
                         <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                     </li>

                     <li class="list-inline-item">
                         <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                     </li>

                     <!-- <li class="list-inline-item">
                         <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                     </li> -->

                     <li class="list-inline-item">
                         <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                     </li>

                     <li class="list-inline-item">
                         <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                     </li>
                 </ul>
             </div>
         </div>
       </div>
   </section>

   <footer class="bg-primary text-white">
       <div class="container">
           <div class="row">
              </br>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";
        var selected_person = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                    selected_person = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_person_function()
        {
            var value = document.getElementById("select_person").value;

            if (value == "no_choice")
            {
                selected_person = "";
            }
            else
            {
                selected_person = value;
            }

            $('.filter').show();

            if (selected_person != "")
            {
                $(".filter").not('.' + selected_person).hide();
            }

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_person != "")
            {
                $(".filter").not('.' + selected_person).hide();
            }

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_person != "")
            {
                $(".filter").not('.' + selected_person).hide();
            }

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_person != "")
            {
                $(".filter").not('.' + selected_person).hide();
            }

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
