<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att skapa och sammanställa studieinspirerande material i form av intervjer och bloggar. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead bg-primary text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <img class="img-fluid mb-5 d-block mx-auto" src="static/img/stinspira_white_filled.svg" alt="" style="width:180px">
            <h1 class="text-uppercase">
              <strong>Stinspira</strong>
            </h1>
            <hr class="light">
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text mb-5"><b>Studieinspiration för alla.</b></p>

            <div class="alert alert-danger" role="alert">
                <strong>OBS!</strong> Hemsidan är under utveckling.
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Vi vill inspirera till högskolestudier!</h2>
            <hr class="my-4">
            <p class="text mb-4">Stinspira arbetar för att öka intresset för högskolestudier genom att skapa och sammanställa studieinspirerande material i form av intervjer och bloggar. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier.</p>
            </br>
            </br>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#om-stinspira">Läs mer om Stinspira</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark" id="intervjuer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Intervjuer</h2>
                    <hr class="my-4">
                    <p class="text mb-4">Vi har skapat och sammanställt totalt ***YYY*** intervjuer med olika personer som studerar eller har studerat till bl.a. jurist, läkare, ingenjör och ekonom. Du kan välja att specifiera både utbildning och skola för att enkelt hitta det just du är mest intresserad av.</p>
                  </div>
            </div>
        </div>

        <div class="container-fluid no-gutters">
           <div class="row no-gutters">

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                   <a class="portfolio-box" href="/placeholder_intervju">
                      <img class="grayscale" src="static/img/interviews/1.jpg" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Förnamn Efternamn</div>
                               <div class="project-category">Yrkestitel, Företagsnamn</div>

                               <div class="project-category">Högskoleutbildning</div>
                               <div class="project-category">Skola</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                   <a class="portfolio-box" href="/placeholder_intervju">
                      <img class="grayscale" src="static/img/interviews/2.jpg" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Förnamn Efternamn</div>
                               <div class="project-category">Yrkestitel, Företagsnamn</div>

                               <div class="project-category">Högskoleutbildning</div>
                               <div class="project-category">Skola</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                   <a class="portfolio-box" href="/placeholder_intervju">
                      <img class="grayscale" src="static/img/interviews/3.jpg" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Förnamn Efternamn</div>
                               <div class="project-category">Yrkestitel, Företagsnamn</div>

                               <div class="project-category">Högskoleutbildning</div>
                               <div class="project-category">Skola</div>
                           </div>
                       </div>
                   </a>
               </div>

               <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                   <a class="portfolio-box" href="/placeholder_intervju">
                      <img class="grayscale" src="static/img/interviews/4.jpg" class="img-fluid" />

                       <div class="portfolio-box-caption">
                           <div class="portfolio-box-caption-content">
                               <div class="project-name">Förnamn Efternamn</div>
                               <div class="project-category">Yrkestitel, Företagsnamn</div>

                               <div class="project-category">Högskoleutbildning</div>
                               <div class="project-category">Skola</div>
                           </div>
                       </div>
                   </a>
               </div>
           </div>
       </div>


      </br>
      </br>
      </br>

       <div class="container">
           <div class="row">
               <div class="col-lg-8 mx-auto text-center">
                   <a class="btn btn-primary btn-xl" href="/intervjuer">Fler intervjuer</a>
                </div>
           </div>
       </div>
   </section>

   <section class="bg-light" id="bloggar">
       <div class="container">
           <div class="row">
               <div class="col-lg-8 mx-auto text-center">
                   <h2 class="section-heading">Bloggar</h2>
                   <hr class="my-4">
                   <p class="text mb-4">Vi har sammanställt ***ZZZ*** bloggar skrivna av olika personer som studerar eller har studerat till bl.a. jurist, läkare, ingenjör och ekonom. Du kan välja att specifiera både utbildning och skola för att enkelt hitta det just du är mest intresserad av.</p>
                 </div>
           </div>
       </div>

       <div class="container-fluid no-gutters">
          <div class="row no-gutters">

              <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                  <a class="portfolio-box" href="http://womengineer.org/bloggarna/">
                     <img class="grayscale" src="static/img/interviews/1.jpg" class="img-fluid" />

                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">Förnamn Efternamn</div>
                              <div class="project-category">Yrkestitel, Företagsnamn</div>

                              <div class="project-category">Högskoleutbildning</div>
                              <div class="project-category">Skola</div>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                  <a class="portfolio-box" href="http://womengineer.org/bloggarna/">
                     <img class="grayscale" src="static/img/interviews/2.jpg" class="img-fluid" />

                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">Förnamn Efternamn</div>
                              <div class="project-category">Yrkestitel, Företagsnamn</div>

                              <div class="project-category">Högskoleutbildning</div>
                              <div class="project-category">Skola</div>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                  <a class="portfolio-box" href="http://womengineer.org/bloggarna/">
                     <img class="grayscale" src="static/img/interviews/3.jpg" class="img-fluid" />

                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">Förnamn Efternamn</div>
                              <div class="project-category">Yrkestitel, Företagsnamn</div>

                              <div class="project-category">Högskoleutbildning</div>
                              <div class="project-category">Skola</div>
                          </div>
                      </div>
                  </a>
              </div>

              <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                  <a class="portfolio-box" href="http://womengineer.org/bloggarna/">
                     <img class="grayscale" src="static/img/interviews/4.jpg" class="img-fluid" />

                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-name">Förnamn Efternamn</div>
                              <div class="project-category">Yrkestitel, Företagsnamn</div>

                              <div class="project-category">Högskoleutbildning</div>
                              <div class="project-category">Skola</div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>

      </br>
      </br>
      </br>

      <div class="container">
          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <a class="btn btn-primary btn-xl" href="/bloggar">Fler bloggar</a>
               </div>
          </div>
      </div>
  </section>

  <!-- <section class="bg-dark" id="klassrumsbesok">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Klassrumsbesök</h2>
                  <hr class="my-4">
                  <p class="text mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
                </div>
          </div>
      </div>

      <div class="container-fluid no-gutters">
         <div class="row no-gutters">

             <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                 <a class="portfolio-box" href="/placeholder_inspirator">
                    <img class="grayscale" src="static/img/interviews/1.jpg" class="img-fluid" />

                     <div class="portfolio-box-caption">
                         <div class="portfolio-box-caption-content">
                             <div class="project-name">Förnamn Efternamn</div>
                             <div class="project-category">Software Engineer, Företagsnamn AB</div>

                             <div class="project-category">Civilingenjör: Teknisk fysik och elektroteknik</div>
                             <div class="project-category">Linköpings universitet</div>
                         </div>
                     </div>
                 </a>
             </div>

             <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                 <a class="portfolio-box" href="/placeholder_inspirator">
                    <img class="grayscale" src="static/img/interviews/2.jpg" class="img-fluid" />

                     <div class="portfolio-box-caption">
                         <div class="portfolio-box-caption-content">
                             <div class="project-name">Förnamn Efternamn</div>
                             <div class="project-category">Software Engineer, Företagsnamn AB</div>

                             <div class="project-category">Civilingenjör: Teknisk fysik och elektroteknik</div>
                             <div class="project-category">Linköpings universitet</div>
                         </div>
                     </div>
                 </a>
             </div>

             <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                 <a class="portfolio-box" href="/placeholder_inspirator">
                    <img class="grayscale" src="static/img/interviews/3.jpg" class="img-fluid" />

                     <div class="portfolio-box-caption">
                         <div class="portfolio-box-caption-content">
                             <div class="project-name">Förnamn Efternamn</div>
                             <div class="project-category">Software Engineer, Företagsnamn AB</div>

                             <div class="project-category">Civilingenjör: Teknisk fysik och elektroteknik</div>
                             <div class="project-category">Linköpings universitet</div>
                         </div>
                     </div>
                 </a>
             </div>

             <div class="portfolio gallery_product col-xl-3 col-lg-4 col-md-6 col-sm-12 filter ingenjor chalmers goteborg">
                 <a class="portfolio-box" href="/placeholder_inspirator">
                    <img class="grayscale" src="static/img/interviews/4.jpg" class="img-fluid" />

                     <div class="portfolio-box-caption">
                         <div class="portfolio-box-caption-content">
                             <div class="project-name">Förnamn Efternamn</div>
                             <div class="project-category">Software Engineer, Företagsnamn AB</div>

                             <div class="project-category">Civilingenjör: Teknisk fysik och elektroteknik</div>
                             <div class="project-category">Linköpings universitet</div>
                         </div>
                     </div>
                 </a>
             </div>
         </div>
     </div>

     </br>
     </br>
     </br>

     <div class="container">
         <div class="row">
             <div class="col-lg-8 mx-auto text-center">
                 <a class="btn btn-primary btn-xl" href="/klassrumsbesok">Fler studieinspiratörer</a>
              </div>
         </div>
     </div>
 </section> -->

 <section class="bg-dark" id="om-stinspira">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 mx-auto text-center">
         <h2 class="section-heading">Om Stinspira</h2>
         <hr class="my-4">
         <p class="text mb-4">Stinspira arbetar för att öka intresset för högskolestudier bland Sveriges ungdomar genom att skapa, sammanställa och förmedla studieinspirerande material. Stinspira drivs ideellt och är helt oberoende. Vi försöker inte locka studenter enbart till en specifik typ av utbildning, utan har istället som mål att lyfta fram inspirerande personer och förebilder från flera olika yrkeskategorier. <!--Stinspira drivs av ingenjörsstudenten <a href="https://www.linkedin.com/in/fregu856/">Fredrik Gustafsson</a> sedan våren 2018.--></p>
       </div>
     </div>
   </div>
 </section>

 <section class="bg-light" id="kontakt">
     <div class="container">

       <div class="row">
           <div class="col-lg-8 mx-auto text-center">
               <h2 class="section-heading">Kontakta oss!</h2>
               <hr class="my-4">
               <p class="mb-5">Har du tips på en inspirerande person vi borde intervjua? Har du förslag på intressanta bloggar vi borde länka till? Eller har du frågor om Stinspira? Kontakta oss gärna via mail eller sociala medier.</p>
           </div>
       </div>

       <div class="row">
           <div class="col-lg-8 mx-auto text-center">
               <ul class="list-inline">
                   <li class="list-inline-item">
                       <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                   </li>

                   <li class="list-inline-item">
                       <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                   </li>

                   <li class="list-inline-item">
                       <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                   </li>

                   <li class="list-inline-item">
                       <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                   </li>

                   <li class="list-inline-item">
                       <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                   </li>
               </ul>
           </div>
       </div>
     </div>
 </section>

    <footer class="bg-primary text-white">
        <div class="container">
            <div class="row">
               </br>
            </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
