<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att sammanställa och skapa studieinspirerande material, främst i form av intervjuer. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-light text-center">
                    <h2 class="section-heading"><i>"Dels är det spännande och roligt, och framförallt är det så tillfredsställande att få göra någonting bra för andra människor och få se hur de mår bättre och bättre."</i></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Malin Sagemark</h2>
                    <hr class="my-4">
                    <p class="text mb-4 custom-p">AT-läkare, Region Östergötland</p>
                    <p class="text mb-4 custom-p">Läkarprogrammet</p>
                    <p class="text mb-4 custom-p2">Linköpings universitet</p>
                    <p class="text mb-4 custom-p">Bor i: Linköping</p>
                    <p class="text mb-4">Kommer från: Köping</p>

                    <img src="static/img/interviews/malin_sagemark.jpg" class="img-fluid" />
                </div>
            </div>

            <hr class="light">
            <hr>
            <hr class="light">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h6><b>Hur skulle du beskriva din roll som AT-läkare? Vad har du för arbetsuppgifter?</b></h6>
                    <p class="text">AT står för allmäntjänstgöring och är en utbildningstjänst som alla läkare måste genomgå för att få läkarlegitimation. Man jobbar som underläkare vilket innebär att man kan komma med förslag till behandlingar av patienter, men det finns alltid en specialist eller överläkare som tar besluten och har ansvaret för patienterna. Min roll är att utföra uppgifter enligt överläkarens beslut. Mina arbetsuppgifter innefattar att undersöka och prata med patienter, att skriva anteckningar i journalen, att beställa prover eller undersökningar samt att skicka remisser till specifika kliniker.</p>

                    <h6><b>Hur ser en typisk dag på jobbet ut för dig?</b></h6>
                    <p class="text">En typisk arbetsdag på sjukhuset på en vårdavdelning börjar man med att höra med sjuksköterskan om det finns akuta frågor kring någon patient. Sedan läser man på i journalen om vad som hänt över kvällen och natten. Någon gång på förmiddagen har man sedan gemensam rond med sjuksköterskan, undersköterskan samt ofta även överläkaren där man går igenom alla patienter, hur de mår, vad proverna visar och vad som ska göras under dagen. Sedan gör jag det som bestämts, olika undersökningar eller t.ex. skriver papper med information och recept till patienter som mår bättre och får åka hem.</p>
                    <p class="text">På eftermiddagen har man en ny avstämning med sköterskorna som ska jobba på kvällen. Skriver sedan fler anteckningar eller beställer någon mer undersökning innan man kan gå hem. Man jobbar ofta lite eller mycket längre än ens egentliga arbetstid.</p>

                    <h6><b>Tycker du om ditt jobb?</b></h6>
                    <p class="text">Ja, jag tycker mycket om mitt jobb. Dels är det spännande och roligt, och framförallt är det så tillfredsställande att få göra någonting bra för andra människor och få se hur de mår bättre och bättre. Att få prata med patienter och förklara och lyssna, att få känna att de är glada och nöjda med sin vård är så härligt. Ibland är det dock förstås jobbigt när man har ont om tid eller massor att göra och det blir stressigt.</p>

                    <h6><b>Vad tror du att du gör om fem år?</b></h6>
                    <p class="text">AT-tjänsten är på 21 månader och efter det börjar man specialistutbilda sig till den sortens läkare man sedan vill arbeta som, vilket tar cirka 5 år. Om 5 år är jag alltså i slutet på min specialistutbildning och hoppas att det kommer kännas bra.</p>

                    <h6><b>Du har läst flera utbildningar (Biomolekylär kemi på Södertörns högskola samt Bioanalytisk kemi på Karolinska), hur kom det sig att du till slut började läsa läkarprogrammet? Och varför just i Linköping?</b></h6>
                    <p class="text">Jag har alltid varit intresserad av det medicinska, men hade inte tillräckligt bra betyg eller högskoleprov efter gymnasiet. Sedan när jag inte kunde få den typ av kemistjobb som jag önskade, det fanns väldigt få tjänster att söka, så bestämde jag i samråd med min man att jag skulle försöka skriva högskoleprovet igen för att se om jag fick bättre resultat. Jag kände också att jag hade mognat som person och var redo för det ansvar som läkaryrket kräver.</p>
                    <p class="text">Jag fick då 2,0 på provet och kunde därför vara ganska säker på att komma in på utbildningen. Med den poängen kunde jag också välja vilken ort jag ville flytta till och plugga. Mycket på grund av att Linköping ligger mellan städerna där mina och min mans föräldrar bor så valde vi just Linköping. Utbildningen hade också bra rykte, och Linköping är dessutom en perfekt stad med avseende på storlek och närheten till de flesta städer i södra och mellersta Sverige.</p>

                    <h6><b>Var det ett självklart val för dig att läsa vidare efter gymnasiet?</b></h6>
                    <p class="text">Ja, det har alltid varit självklart att jag skulle läsa vidare på högskola/universitet för både mig och mina föräldrar. Dock håller jag inte med vissa politiker som tror att alla ska plugga vidare på högskola. Det ska man bara göra om man är intresserad av de yrken man läser till där. Det finns många andra yrken som också behöver personal och är viktiga som inte innebär högskolestudier. Ingen ska dock tveka att söka och prova, vill man så har man stor chans att lyckas med sina studier.</p>
                    <p class="text">Min första utbildning läste jag direkt efter gymnasiet, och direkt efter den även forskarutbildningen på Karolinska. Innan läkarutbildningen hade jag sedan hunnit jobba några år som lärare, få barn samt jobbat på mejerilaboratorium. Jag hann också få diagnosen ADHD, utan den och medicinen hade jag nog inte orkat läsa 5 år till på heltid.</p>

                    <h6><b>Vad var det bästa med att plugga i Linköping?</b></h6>
                    <p class="text">Jag tror att Linköping är en riktigt bra och trevlig studentstad, själv hade jag ju man och småbarn, men deltog ibland på sittningar och fester med klassen. Det bästa med staden är att det är relativt nära till allt, men ändå så pass stort att det mesta finns. Det bästa med skolan är lite svårt att svara på, men det är ett modernt universitet som lyssnar på studenterna och inte är helt fast i urgamla traditioner.</p>

                    <h6><b>Ifall du tog studenten idag och kunde göra om hela din högskoleutbildning, hade du gjort någonting annorlunda?</b></h6>
                    <p class="text">Jag önskar ibland att jag var en yngre AT-läkare, men samtidigt har jag så mycket nytta av både min kemistutbildning, som ger mig riktig förståelse för biomedicinen, och att jag hunnit jobba i olika yrken och därmed har insikt i patienters arbetsliv. Dessutom är mina barn nu så pass stora att jag kan vara på jobbet utan dåligt samvete, och jag får sova på nätterna. Jag har också erfarenhet av att själv varit patient både före och efter jag själv blev läkare, vilket jag också tror är nyttigt och empatiökande.</p>

                    <h6><b>Jag tror att många skulle beskriva dig som en framgångsrik person, hur stor del av denna framgång tror du beror på talang respektive på hårt arbete?</b></h6>
                    <p class="text">Tack för den beskrivningen, det är inte något jag själv tänker på riktigt på det viset. Många har såklart frågat hur jag orkat med allt då jag under läkarutbildningen både jobbat extra samt är mycket engagerad inom gymnastik på både tränar- och förbundsnivå.</p>
                    <p class="text">Jag tror att stor framgång kräver både talang och ansträngning, enbart det ena eller det andra räcker inte alltid hela vägen. Naturligtvis krävs minde hårt arbete om man har lätt för sig i skolan, men samtidigt kanske man har bättre studieteknik om man haft det lite svårare men mycket kämparanda. Högskolestudier kan bli lite utav en chock för den som enbart glidit på talang i grundskolan och gymnasiet, och för den som redan jobbat på överväxeln i gymnasiet blir det kanske övermäktigt eller kräver studieuppehåll. Jag anser att vissa utbildningar, de som innebär att man jobbar med andra människor som t.ex. lärare, läkare och sjuksköterska, är extra viktiga att man är väl lämpad för eftersom man i dessa yrken kan ha en sådan avgörande roll i någon annans liv.</p>

                    <h6><b>Vad hade du velat ge för råd till dig själv som tonåring?</b></h6>
                    <p class="text">Jag skulle nog inte gjort så mycket annorlunda om jag levt om min tonårstid. Det jag är mest stolt över är att jag aldrig druckit för mycket alkohol, aldrig använt cigaretter eller andra droger, och att jag idrottade. Man ska tro på sig själv, men gärna vara realistisk. Ta reda på vilka talanger just du har och jobba på dessa. Gör det du måste, skippa sånt som är onödigt - överarbeta inte bara för att. Stå upp för dina värderingar och dina vänner.</p>
                    <p class="text">Det kan låta tråkigt, men man kan ha väldigt roligt även under dessa premisser.</p>

                    <p><i>Skapad 2018-09-01.</i></p>

                    </br>
                    </br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <a class="btn btn-primary btn-xl" href="/intervjuer">Fler intervjuer</a>
                 </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Kontakta oss!</h2>
                  <hr class="my-4">
                  <p class="mb-5 text-justify">Har du tips på en inspirerande person vi borde intervjua? Eller har du förslag på intressanta intervjufrågor? Kontakta oss gärna via mail eller sociala medier.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <ul class="list-inline">
                      <li class="list-inline-item">
                          <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                      </li>

                      <!-- <li class="list-inline-item">
                          <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                      </li> -->

                      <li class="list-inline-item">
                          <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>

   <footer class="bg-primary text-white">
       <div class="container">
           <div class="row">
              </br>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
