<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att sammanställa och skapa studieinspirerande material, främst i form av intervjuer. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-light text-center">
                    <h2 class="section-heading"><i>"Du kommer att få jobba tills du är 70 år, då behöver det vara något roligt som DU gillar. Våga prova, man kan inte alltid veta vad man vill, men det går alltid att prova och sedan välja om."</i></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Maria Karnell</h2>
                    <hr class="my-4">
                    <p class="text mb-4 custom-p">Leg. psykolog | Specialist inom arbete och organisationspsykologi | HR-strateg</p>
                    <p class="text mb-4 custom-p">Psykologprogrammet</p>
                    <p class="text mb-4 custom-p2">Linköpings universitet</p>
                    <p class="text mb-4 custom-p">Bor i: Stockholm</p>
                    <p class="text mb-4">Kommer från: Skövde </p>

                    <img src="static/img/interviews/maria_karnell.jpg" class="img-fluid" />
                </div>
            </div>

            <hr class="light">
            <hr>
            <hr class="light">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h6><b>Du arbetar både för PBM och Kulturhuset Stadsteatern, hur skulle du beskriva dina roller?</b></h6>
                    <p class="text">Om vi börjar med PBM så arbetar jag som underkonsult hos dem, där träffar jag klienter som har stress, depression, ångest eller livskriser. På Kulturhuset Stadsteatern arbetar jag som HR-strateg och där är mitt uppdrag att stötta framförallt cheferna i deras uppdrag. Vidare arbetar jag även som mentor i specialistkollegiet för blivande specialister inom psykologprofessionen.</p>

                    <h6><b>Hur ser en typisk arbetsdag ut för dig?</b></h6>
                    <p class="text">Just nu är jag föräldraledig så mina dagar ser väldigt annorlunda ut för tillfället. Men om vi tar jobbet på Kulturhuset Stadsteatern som exempel så arbetar jag där vanligtvis mellan 8.00-16.30, vi har stämpelklocka vilket jag tycker är jätteskönt. Några gånger per månad har jag jour och jobbar då även kväll eller helg. Mina arbetsuppgifter är väldigt varierande och det finns ingen direkt typisk arbetsdag. Men i huvudsak träffar jag chefer, medarbetare samt olika arbetsgrupper och stöttar dem på olika sätt. En del av min arbetstid går också ut på att utbilda inom exempelvis arbetsmiljö.</p>

                    <h6><b>Tycker du om ditt jobb?</b></h6>
                    <p class="text">Jag tycker verkligen mycket om mitt jobb. Framförallt för att de flesta dagarna känns meningsfulla samt att jag ha roligt på jobbet. Det bästa med mitt arbete skulle jag säga är medarbetarna och det faktum att det är så varierat.</p>

                    <h6><b>Vad tror du att du gör om fem år?</b></h6>
                    <p class="text">De närmaste åren kommer fokus för mig vara min familj, men om vi istället talar om tio år så tror jag att jag arbetar som HR-chef.</p>

                    <h6><b>Var det ett självklart val för dig att läsa vidare efter gymnasiet?</b></h6>
                    <p class="text">Ja, det var självklart. Jag har alltid upplevt ett stort stöd från mina föräldrar till att göra precis vad jag vill efter gymnasiet: läsa vidare, jobba eller resa. Först läste jag tre år på folkhögskola, vilket jag verkligen kan rekommendera. Folkhögskola är en väldigt bra brygga mellan ungdomslivet och vuxenlivet.</p>
                    <p class="text">Psykolog började jag plugga till först när jag var 25, något som jag absolut inte ångrar. När man arbetar som psykolog tycker jag det är bra att ha erfarenhet från att ha pluggat och ha arbetat med något annat. När jag började läsa till psykolog var det även krav på att man skulle ha minst 12 månaders arbetslivserfarenhet, men det kravet är nu borta.</p>

                    <h6><b>Varför valde du att läsa just psykologprogrammet i just Linköping?</b></h6>
                    <p class="text">Psykolog kan man säga var min plan B i livet. Jag ville bli skådespelare och gick estetiskt gymnasium och sedan tre år på folkhögskola inom teater. Jag arbetade sedan även som skådespelare i några år och sökte till de olika scenskolorna. När det tog stopp i fjärde provet på scenskolan i Malmö trodde jag att ”mitt liv var slut” och att jag aldrig mer skulle bli glad. Men sedan kom jag in på psykologprogrammet redan veckan efter.</p>
                    <p class="text">Just Linköping var ett självklart val eftersom utbildningen där bygger på PBL (problembaserat lärande). För mig passar den typen av studier väldigt bra. En av mina bästa vänner läste dessutom redan i Linköping och hon hade pratat mycket gott om utbildningen.</p>

                    <h6><b>Vad var det bästa med att plugga i Linköping?</b></h6>
                    <p class="text">Det bästa med Linköping var definitivt mina klasskompisar, såhär snart tio år efter examen umgås jag fortfarande med några av dem flera gångar i månaden. När det gäller Linköping som stad så är den lagom stor, man kan cykla överallt och jag hade även möjlighet att fortsätta med mitt teaterintresse. Det bästa med universitetet var just att de använde sig av problembaserat lärande.</p>

                    <h6><b>Ifall du tog studenten i dag och kunde göra om hela din högskoleutbildning, hade du gjort någonting annorlunda?</b></h6>
                    <p class="text">Nej, jag är mycket nöjd med mina val. Jag ångrar inte heller att jag lade så mycket tid på teater innan jag blev psykolog, det har varit till stor nytta på många sätt.</p>
                    <p class="text">Jag jobbade en hel del extra under studietiden men var tvungen till det för att få ekonomin att gå runt. Mina extrajobb berikade dock också min utbildning eftersom det var relevanta arbeten som behandlingsassistent och behandlingssekreterare.</p>

                    <h6><b>Vilket var ditt första jobb efter examen och hur fick du det?</b></h6>
                    <p class="text">Jag gjorde praktik under utbildningen på en arbetsplats som heter Right Management. Anledningen till att jag fick praktik där var att jag träffade min fantastiska handledare i bastun på en möhippa. Vi började prata och hon erbjöd mig då en praktikplats hos henne. När man arbetar som psykolog måste man först göra PTP för att få sin legitimation, och tack vare praktiken fick jag även PTP på samma plats. Jag har därmed min handledare att tacka för mycket. Jag är inte säker på att jag hade varit inriktad på just arbete och organisationspsykologi om jag inte hade haft henne som en fantastisk förebild.</p>

                    <h6><b>Jag tror att många skulle beskriva dig som en framgångsrik person, hur stor del av denna framgång tror du beror på talang respektive på hårt arbete?</b></h6>
                    <p class="text">Jag tänker inte på mig själv som en framgångsrik person, men om jag funderar kring vad som är anledningen till att jag gör det jag gör tror jag att mycket handlar om målmedvetenhet, eller om jag ska slänga in en psykologiterm: grit. Grit innebär att man är ihärdig och provar om och om igen tills man når sitt mål. Jag har pluggat väldigt mycket i mina dagar och har vågat tänka kreativt i hur man löser saker och ting. Jag har mycket energi men har också haft turen på min sida. Jag har också misslyckats flera gånger med det jag skulle vilja göra (vågar inte räkna hur många gånger jag sökte scenskolan, hur mycket tid jag lade ner på ansökan – men aldrig kom in). En annan förmåga som har hjälpt mig är att vara organiserad, ha konsekvenstänk och stå ut med att belöningen kommer först i framtiden.</p>

                    <h6><b>Vad hade du velat ge för råd till dig själv som tonåring?</b></h6>
                    <p class="text">Låter kanske paradoxalt men: att ha mer roligt och plugga mindre. Samtidigt har jag ju haft väldig nytta av mina betyg, men jag tänker att jag nog också missade mycket av min ungdomstid. Det finns för- och nackdelar med allt.</p>

                    <h6><b>Har du några övriga råd du skulle vilja dela med dig av?</b></h6>
                    <p class="text">Se till att hitta någon att prata med kring vad du funderar på, en "mentor”. Det är tufft att vara ung och stå inför sådana stora val. Försök göra det som är roligt före det som ”är bra” och som dina föräldrar kanske vill. Du kommer att få jobba tills du är 70 år, då behöver det vara något roligt som DU gillar. Våga prova, man kan inte alltid veta vad man vill, men det går alltid att prova och sedan välja om. Skicka många ansökningar till olika jobb och skolor, slumpen spelar stor roll och då kan det vara bra att bredda sina möjligheter.</p>

                    <p><i>Skapad 2018-08-27.</i></p>

                    </br>
                    </br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <a class="btn btn-primary btn-xl" href="/intervjuer">Fler intervjuer</a>
                 </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Kontakta oss!</h2>
                  <hr class="my-4">
                  <p class="mb-5 text-justify">Har du tips på en inspirerande person vi borde intervjua? Eller har du förslag på intressanta intervjufrågor? Kontakta oss gärna via mail eller sociala medier.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <ul class="list-inline">
                      <li class="list-inline-item">
                          <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                      </li>

                      <!-- <li class="list-inline-item">
                          <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                      </li> -->

                      <li class="list-inline-item">
                          <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>

   <footer class="bg-primary text-white">
       <div class="container">
           <div class="row">
              </br>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
