<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Vi vill inspirera till högskolestudier! Stinspira arbetar för att öka intresset för högskolestudier genom att sammanställa och skapa studieinspirerande material, främst i form av intervjuer. Vi försöker inte locka studenter till en specifik utbildning, utan har som mål att lyfta fram förebilder från flera olika yrkeskategorier (ingenjör, läkare, jurist, ekonom etc.).">
    <meta name="keyword" content="studieinspiration, inspiration, utbildning, högskoleutbildning, högskolestudier, högskola, högskolor, universitet, student, plugga på högskola, studievägledning, ingenjör, läkare, jurist, ekonom, civilingenjör">
    <meta name="author" content="Stinspira studieinspiration">

    <link rel="shortcut icon" type="image/x-icon" href="static/img/stinspira.ico" />

    <title>Stinspira - Studieinspiration för alla.</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <link href="static/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Stinspira</a>

            <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/intervjuer">Intervjuer</a>
                    </li>

                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/bloggar">Bloggar</a>
                    </li> -->

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#om-stinspira">Om Stinspira</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/#kontakt">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="bg-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-light text-center">
                    <h2 class="section-heading"><i>"Enklare fall opererar jag ofta själv och komplicerade operationer gör jag tillsammans med en specialist. Att operera är väldigt roligt men givetvis är man ofta något nervös innan, speciellt om man ska göra något nytt."</i></h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading">Martin Roginski</h2>
                    <hr class="my-4">
                    <p class="text mb-4 custom-p">ST-läkare inom handkirurgi, Södersjukhuset</p>
                    <p class="text mb-4 custom-p">Läkarprogrammet</p>
                    <p class="text mb-4 custom-p2">Karolinska institutet</p>
                    <p class="text mb-4 custom-p">Bor i: Stockholm</p>
                    <p class="text mb-4">Kommer från: Stockholm</p>

                    <img src="static/img/interviews/martin_roginski.jpg" class="img-fluid" />
                </div>
            </div>

            <hr class="light">
            <hr>
            <hr class="light">

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h6><b>Vad sker på handkirurgen och hur skulle du beskriva din roll som ST-läkare?</b></h6>
                    <p class="text">Handkirurgen på Södersjukhuset är en ganska stor klinik. Utöver några mindre handkirurgiska privata verksamheter är vi den enda handkirurgiska kliniken i Stockholm och tar emot alla komplicerade fall från Stockholm, Södermanland och Gotland. När en handskada är så svår att den inte kan hanteras på en vanlig akutmottagning skickas patienten till oss. Ibland behöver vi operera på nätterna men för det mesta är det inte så bråttom och då kan operationen utföras dagtid. Det kan handla om sågskador, knivskador, fallolyckor, allvarliga infektioner m.m. Vi tar också hand om patienter som inte drabbats av akuta skador men som har problem med sina händer. Det kan vara barn med missbildningar, olika sorters smärttillstånd som exempelvis artros, resttillstånd efter gamla skador, cancer m.m.</p>
                    <p class="text">Tanken med den handkirurgiska specialiteten är att en specialist ska kunna hantera och lösa alla kirurgiska problem som kan dyka upp. Exempelvis behöver man vid svåra handskador kompetens inom ortopedi, kärlkirurgi, nervkirurgi, plastikkirurgi och ibland även barnkirurgi. I andra länder är den handkirurgiska specialiteten faktiskt många gånger uppdelad på alla dessa specialiteter. Detta är unikt med handkirurgi och den stora variationen gör arbetet väldigt roligt.</p>
                    <p class="text">Att vara ST-läkare kan nog jämföras med att vara lärling i något annat yrke. Det handlar om att lära sig jobbet genom att jobba, men med hjälp och stöd från erfarna kollegor. Allt efter att man lärt sig göra bra bedömningar och utföra de enklare operationerna kan man gå vidare till svårare uppgifter och successivt behöver man mindre stöd och blir mer självständig. Under en arbetsvecka tillbringar jag halva veckan på mottagning och avdelning, och den andra halvan på operation. Jag åker även regelbundet på kurser och i våras var jag t.ex. på kurs i Manchester.</p>

                    <h6><b>Hur ser en typisk arbetsdag ut för dig?</b></h6>
                    <p class="text">Arbetsdagen börjar 07:45 med rapport från den som var jour över natten. På mottagningen träffar jag patienter som kommer till oss på remiss från vårdcentral eller ett annat sjukhus. Där bedömer jag om patienten kan bli hjälpt av en operation och i så fall vad som ska göras. Jag följer också upp de patienter jag själv opererat. Vi samarbetar mycket tätt med rehab, d.v.s. sjukgymnaster och arbetsterapeuter. En bra rehabilitering är helt avgörande för att patienten ska bli bra. Val av operation och rehabilitering skräddarsys i princip alltid efter patientens önskemål och förmågor, och dessa diskussioner är ofta mycket givande och kräver ett samstämt teamarbete. Ofta kan man också hjälpa patienten direkt på mottagningen med exempelvis en kortisonspruta eller att man påbörjar ett rehabiliteringsprogram utan behov av operation.</p>
                    <p class="text">När vi har operationsdagar är jag på jobbet tidigt och träffar de patienter som ska opereras redan före rapporten 07:45. Vi går igenom vad som ska göras en gång till och jag hör efter att det inte hänt något nytt sedan vi sågs senast på mottagningen. Enklare fall opererar jag ofta själv och komplicerade operationer gör jag tillsammans med en specialist. Att operera är väldigt roligt men givetvis är man ofta något nervös innan, speciellt om man ska göra något nytt. Då brukar man behöva läsa på ordentligt kvällen innan i någon tjock bok och gärna även se någon bra instruktionsfilm. Sen ser jag alltid till att jag får stöd och handledning av någon erfaren när jag känner mig osäker.</p>

                    <h6><b>Vad är det bästa med ditt jobb?</b></h6>
                    <p class="text">Att möta patienter, försöka förstå dem, försöka få dem att känna sig trygga och sedda och att sedan på ett väldigt konkret sätt kunna hjälpa dem är otroligt givande. Ibland är det väldigt svårt att förstå exakt vad som orsakar patientens problem eller hur man ska lösa det, och denna process är utmanande och samtidigt stimulerande. Då brukar jag ta hjälp av andra erfarna kollegor, kollegor på rehab, diskutera med röntgenläkare och andra specialister för att komma vidare. Som läkare behöver man ofta själv även handleda andra yngre kollegor samt undervisa, och detta är något jag tycker är väldigt roligt och man lär sig dessutom mycket av det.</p>

                    <h6><b>Var det ett självklart val för dig att läsa vidare efter gymnasiet?</b></h6>
                    <p class="text">Ja, det var självklart för mig att läsa vidare. Det är dock i princip ingen i familjen eller släkten som jobbar inom vården. Jag spelade fotboll på elitnivå på den tiden och kom in lite oväntat fort på läkarutbildningen. Till att börja med försökte jag göra både och men insåg snabbt att det inte blev bra på någon front. Jag tog därför ett för mig väldigt drastiskt beslut och slutade min elitsatsning på fotboll. Det var väldigt svårt då men jag är väldigt glad att jag gjorde den prioriteringen. Det blir väldigt kul och stimulerande när man kan gå in i något helhjärtat.</p>

                    <h6><b>Varför valde du att läsa läkarprogrammet på just Karolinska?</b></h6>
                    <p class="text">Som stockholmare var det naturligt att söka Karolinska, men jag var också nära att flytta till Umeå i och med att min flickvän sökte utbildning där. Jag funderade faktiskt inte så mycket på Karolinskas rykte, utan tänkte att de flesta läkarutbildningar troligen höll hög kvalitet.</p>
                    <p class="text">Karolinska har generellt sett väldigt hög nivå på undervisningen med bra kliniska placeringar. Möjligheterna där är många.</p>

                    <h6><b>Vilket var ditt första jobb efter examen och hur fick du det? Var det en stor omställning att ta steget ut i arbetslivet?</b></h6>
                    <p class="text">Jag och min fru, som precis var nyutexaminerad tandläkare, valde att flytta från Stockholm, dels för att det både var svårt att få jobb där samt att jobben på vår nivå inte kändes särskilt utvecklande. Vi valde Nyköping för att vi kom fram till att det var en fin stad som vi tänkte oss kunde vara trevlig att stanna i ifall vi skulle fastna där. Underläkarvikariat där var ganska populärt, så jag lade väldigt mycket tid på min ansökan och tror även att det faktum att vi skulle bo där ökade mina chanser. Under studietiden hade jag även tagit en del meriterande jobb som möjligen bidrog.</p>
                    <p class="text">Jag kom till Nyköping för att jag ville få mycket ansvar, och bara några veckor senare stod jag som ensam nattjour på akuten med bakjour i hemmet. Ansvaret var och kändes enormt. Det var väldigt stressigt men samtidigt väldigt spännande och stimulerande. Det tog åtminstone tre månader innan jag började känna mig något varm i kläderna.</p>

                    <h6><b>Vad skulle du vilja säga till dem som är intresserade av att följa i dina fotspår, men samtidigt kanske är osäkra på ifall de klarar av att läsa till läkare?</b></h6>
                    <p class="text">I Sverige är det svåraste att komma in på läkarutbildningen, inte att faktiskt klara av den. Det är tyvärr till stor del slumpen som avgör om man kommer in eller inte, men om man försöker om och om igen ökar givetvis chanserna. Det är dock bra att ha en reservplan så man inte blir allt för nedslagen om man inte kommer in.</p>

                    <p><i>Skapad 2018-09-01.</i></p>

                    </br>
                    </br>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <a class="btn btn-primary btn-xl" href="/intervjuer">Fler intervjuer</a>
                 </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <h2 class="section-heading">Kontakta oss!</h2>
                  <hr class="my-4">
                  <p class="mb-5 text-justify">Har du tips på en inspirerande person vi borde intervjua? Eller har du förslag på intressanta intervjufrågor? Kontakta oss gärna via mail eller sociala medier.</p>
              </div>
          </div>

          <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                  <ul class="list-inline">
                      <li class="list-inline-item">
                          <a href="https://www.facebook.com/stinspira/"><i class="fa fa-facebook fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="https://www.instagram.com/stinspira/"><i class="fa fa-instagram fa-2x"></i></a>
                      </li>

                      <!-- <li class="list-inline-item">
                          <a href="https://twitter.com/stinspira"><i class="fa fa-twitter fa-2x"></i></a>
                      </li> -->

                      <li class="list-inline-item">
                          <a href="https://www.linkedin.com/company/stinspira/"><i class="fa fa-linkedin fa-2x"></i></a>
                      </li>

                      <li class="list-inline-item">
                          <a href="mailto:stinspira@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>

   <footer class="bg-primary text-white">
       <div class="container">
           <div class="row">
              </br>
           </div>
       </div>
   </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

    <script src="static/js/bootstrap-select.min.js"></script>
    <script>
        var selected_utbildning = "";
        var selected_skola = "";
        var selected_stad = "";

        $(document).ready(function(){

            $(".filter-button").click(function(){
                var value = $(this).attr('data-filter');

                if(value == "all")
                {
                    $('.filter').show();

                    $('.selectpicker').selectpicker('val', 'no_choice');

                    selected_skola = "";
                    selected_utbildning = "";
                    selected_stad = "";
                }
                else
                {
                    $(".filter").not('.'+value).hide();
                    $('.filter').filter('.'+value).show();
                }
            });

            if ($(".filter-button").removeClass("active")) {
                $(this).removeClass("active");
            }

            $(this).addClass("active");

        });

        function select_utbildning_function()
        {
            var value = document.getElementById("select_utbildning").value;

            if (value == "no_choice")
            {
                selected_utbildning = "";
            }
            else
            {
                selected_utbildning = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_skola_function()
        {
            var value = document.getElementById("select_skola").value;

            if (value == "no_choice")
            {
                selected_skola = "";
            }
            else
            {
                selected_skola = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }

        function select_stad_function()
        {
            var value = document.getElementById("select_stad").value;

            if (value == "no_choice")
            {
                selected_stad = "";
            }
            else
            {
                selected_stad = value;
            }

            $('.filter').show();

            if (selected_utbildning != "")
            {
                $(".filter").not('.' + selected_utbildning).hide();
            }

            if (selected_skola != "")
            {
                $(".filter").not('.' + selected_skola).hide();
            }

            if (selected_stad != "")
            {
                $(".filter").not('.' + selected_stad).hide();
            }
        }
    </script>

  </body>

</html>
